/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  font-family: "Work Sans";
}
body {
  background-color: rgb(255, 254, 248);
}

.instagram-icone {
  width: 22px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  border: 2px solid transparent;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  /* border: 2px solid black; */
  margin-right: 50px;
  margin-left: 40px;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: rgb(177, 102, 60);
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 0px 0px 35px;
  font-size: 1.2em;
  /* border: 2px solid black; */
  /* padding-right: 10px; */
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
  /* border: 2px solid black; */
  /* width: 50%; */
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 125px;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  /* display: block; */
  /* margin: auto; */
  width: 455px;
  /* margin-right: 50px; */
}

#introduction article {
  flex: 1;
  line-height: 120%;
  /* border: 2px solid red; */
  font-size: 14px;
  margin-left: 65px;
  text-align: left;
}
#introduction h2 {
  margin-bottom: 0.8em;
}

#introduction p {
  margin-bottom: 0.8em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 140px;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  padding-left: 110px;
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input:not(#btn-contact) {
  height: 50px;
  width: 355px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-right: 100px;
}

#btn-contact {
  /* border: 2px solid red; */
  margin-right: 180px;
  padding: 8px 15px 8px 15px;
  border: none;
}

#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  width: 350px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* filter */

.filter {
  /* border: 2px solid red; */
  padding-left: 240px;
  margin-bottom: 20px;
  margin-top: 55px;
}
.filter button {
  margin-right: 12px;
  border-radius: 20px;
  color: rgb(29, 97, 84);
  border-color: rgb(29, 97, 84);
  background-color: rgb(255, 254, 248);
  font-size: 16px;
  padding: 8px 26px 8px 26px;
  font-weight: bold;
  border: 1px solid;
}

.filter button:hover {
  background-color: rgb(29, 97, 84);
  color: white;
}

.filter button.active {
  background-color: rgb(29, 97, 84);
  color: white;
}

/* Login.html */

#login-title {
  /* border: 2px solid black; */
  margin-top: 120px;
  margin-left: 515px;
  margin-right: 500px;
  display: flex;
}

.login {
  /* border: 2px solid red; */
  /* display: flex; */
  /* flex-direction: column; */
  margin-left: 389px;
  font-size: 16px;
  /* margin-right: auto; */
  width: 50%;
}

.login #email {
  width: 350px;
  height: 45px;
  border: none;
  box-shadow: 2px 2px 8px rgb(223, 223, 223);
  display: flex;
}

main {
  border: 2px solid transparent;
}

.login #password {
  width: 350px;
  height: 45px;
  border: none;
  box-shadow: 2px 2px 8px rgb(223, 223, 223);
  display: flex;
}

form label {
  /* border: 2px solid red; */
  position: relative;
  top: -5px;
  z-index: -1;
}

.login #connect {
  /* border: 2px solid red; */
  margin-left: 85px;
  padding: 8px 10px 8px 10px;
  border: none;
}

.login #connect:hover {
  background-color: rgb(14, 47, 40);
}

.login a {
  margin-left: 95px;
  color: black;
}

footer .mention {
  /* border: 2px solid red; */
  font-size: 16px;
  display: flex;
  justify-content: end;
  margin-top: 505px;
  margin-right: 20px;
  background-color: white;
  width: 1097px;
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-weight: bolder;
}

.gallery {
  /* border: 2px solid red; */
  width: 920px;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 45px;
}

footer nav {
  background-color: white;
  /* border: 2px solid red; */
}

/* Error message login */

.error-msg-2 p {
  padding-top: 20px;
  padding-left: 15px;
  font-weight: bolder;
  color: red;
}

.error-msg-1 p {
  padding-top: 20px;
  position: relative;
  right: 42px;
  padding-left: 20px;
  font-weight: bolder;
  color: red;
}

/* Edition MOD header */

#navbar-edition {
  /* border: 2px solid black; */
  height: 59px;
  color: white;
  background-color: black;
  padding-left: 50px;
  display: flex;
  justify-content: center;
}

#navbar-edition #btn-publier {
  margin-top: 9px;
  margin-bottom: 9px;
  border-radius: 22px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  font-size: 14px;
}

#navbar-edition img {
  width: 145px;
  height: 28px;
  margin-top: 16px;
  margin-right: 10px;
}

/* introduction mod edition */

#introduction figure #icon-introduction {
  width: 27px;
  /* border: 2px solid red; */
  position: relative;
  right: 5px;
  margin-top: 4px;
}

#introduction figure #icon-introduction:hover {
  transform: scale(1.2);
}

#introduction figure #btn-modifier-introduction {
  position: relative;
  bottom: 6.5px;
  color: black;
  border: none;
  background-color: transparent;
}

#introduction figure #btn-modifier-introduction:hover {
  color: #1d6154;
}

/* Projet mod edition */

#portfolio #icon-projet {
  width: 27px;
  position: relative;
  left: 680px;
  bottom: 57px;
}

#portfolio #icon-projet:hover {
  transform: scale(1.2);
}

#portfolio #btn-modifier-projet {
  position: relative;
  left: 685px;
  bottom: 63px;
  color: black;
  border: none;
  background-color: transparent;
}

/* Animation (optionnelle) à présenter a Madame BLUEL */

.mon-animation {
  position: relative;
}

.mon-animation::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 6px solid #1d6154;
  animation: fleche 1s linear infinite;
  transform: translateY(-50%);
  opacity: 0;
}

@keyframes fleche {
  0% {
    transform: translateX(10px) translateY(-6px);
    opacity: 1;
  }
  20% {
    transform: translateX(10px) translateY(-6px);
  }
  40% {
    transform: translateX(10px) translateY(-6px);
  }
  60% {
    transform: translateX(10px) translateY(-6px);
  }
  80% {
    transform: translateX(10px) translateY(-6px);
  }
  100% {
    transform: translateX(10px) translateY(-6px);
    opacity: 0;
  }
}

/* modale gallery */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-container-gallery {
  overflow: auto;
  /* border: 1px solid black; */
  width: 630px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  max-width: calc(100vw -20px);
  max-height: calc(100vh -20px);

  height: 731px;
  /* display: flex; */

  /* margin-bottom: 100px; */
  /* padding-left: 10px; */

  background-color: white;
  animation: slideFromTop 1s both;
}
@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0px);
  }
}

.modal[aria-hidden="true"] {
  animation: fadeOut 2s both;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal[aria-hidden="true"].modal-container-gallery {
  animation: slideToBottom 1s both;
}

@keyframes slideToBottom {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-50px);
  }
}

.modal-container-gallery .js-modal-close {
  background-color: white;
  font-size: 20px;
  margin-left: 580px;
  /* font-weight: bold; */
  margin-top: 26px;
  border: none;
}

.js-modal-close:hover {
  transform: scale(1.2);
}

.modal-container-gallery h4 {
  font-size: 26px;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;

  font-weight: 500;
}

.js-modal-gallery {
  /* border: 1px solid red; */
  /* height: 420px; */
  width: 420px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-left: 0px;
  padding-bottom: 30px;
  border-bottom: 1px solid #b3b3b3;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  height: 128px;
  /* align-items: center; */
  /* border: 2px solid red; */
}

.js-modal-gallery img {
  width: 76.86px;
  height: 102.57px;
  margin-bottom: 1px;
  /* height: 80px; */
  /* object-fit: cover; */
}

.js-modal-gallery img:hover {
  transform: scale(1.1);
  /* border:4px solid #1d6154; */
  box-shadow: 1px 1px 3px grey;
}

.js-modal-gallery .editer-message {
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 1px;
  font-size: 12px;
  /* font-weight: bold; */
}

.modal-button-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.modal-button-container button {
  width: 237px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Work Sans";
}

.btn-add-photo {
  border-radius: 60px;
  background-color: rgb(29, 97, 84);
  color: white;
  height: 36px;
  margin-bottom: 23px;
  border: none;
  font-size: 14px;
}

.btn-add-photo:hover {
  background-color: rgb(14, 47, 40);
}

.btn-delete-gallery {
  border: none;
  background-color: white;
  color: red;
}

.btn-delete-gallery:hover {
  color: rgb(111, 8, 0);
}

.icon-delete-photo {
  position: relative;
  bottom: 116px;
  left: 58px;
  color: white;
  background-color: black;
  width: 10px;
  padding-left: 4px;
  padding-right: 1px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-size: 8px;
  border-radius: 3px;
}

.icon-delete-photo:hover {
  transform: scale(1.2);
}

.move-icon {
  position: relative;
  bottom: 129px;
  left: 40px;
  width: 10px;
  font-size: 8px;
  color: white;
  background-color: black;
  /* border: 1px solid black; */
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 4px;
  padding-right: 2px;
  border-radius: 3px;
}

/* modal add projet */
.modal2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-container-add-projet {
  overflow: auto;
  /* border: 1px solid black; */
  width: 630px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  max-width: calc(100vw -20px);
  max-height: calc(100vh -20px);

  height: 670px;
  /* display: flex; */

  /* margin-bottom: 100px; */
  /* padding-left: 10px; */

  background-color: white;
  animation: slideFromTop 1s both;
}

.js-modal2-close{
  background-color: white;
  font-size: 21px;
  margin-left: 575px;
  /* font-weight: bold; */
  position: relative;
  top: -25px;
  border: none;
  /* border: 2px solid red; */
}

.js-modal2-close:hover {
  transform: scale(1.2);
}

.modal-container-add-projet h4 {
  font-size: 26px;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;

  font-weight: 500;
}

.modal-button-before{
  background-color: white;
  border: none;
  /* width: 21px; */
  /* height: 21px; */
  font-size: 21px;
  margin-top: 26px;
  margin-left: 30px;
}

.modal-button-before:hover {
  transform: scale(1.2);
}